$desktop: 1200;
$lg: 992;
$tablet: 768;
$sm: 600;
$phone: 468;

$inter: "Inter", sans-serif;
$manrope: "Manrope", sans-serif;

$accent: #F3B344;
$white: #FFF;
$white200: #F4EFF4;

$black100: #0B0B0B;
$black200: #1C1B1E;

$gray100: #C9C5C9;
$gray200: #939094;

$blue: #1A73E8;
$green200: #005736;
$green700: #09A854;
$red: #EF6262;
$red200: #850008;