<div class="filters">
    <div class="container">
        <div class="filters__top">
            <ul class="filters__selectors">
                <li class="filters__select">
                    <button class="filters__select-btn filters__select-btn--vip" type="button">VIP</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Проститутки</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Индивидуалки</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Массажистки</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Салоны</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Вирт</button>
                </li>
            </ul>
            <button class="filters__btn btn" type="button">
                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="filters__path" d="M21 1H1L9 10.46V17L13 19V10.46L21 1Z" stroke="#1C1B1E"
                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Фильтры
            </button>
        </div>
    </div>
</div>