<section class="filters">
    <div class="container">
        <div class="filters__top">
            <ul class="filters__selectors">
                <li class="filters__select">
                    <button class="filters__select-btn filters__select-btn--vip" type="button">VIP</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Проститутки</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Индивидуалки</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Массажистки</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Салоны</button>
                </li>
                <li class="filters__select">
                    <button class="filters__select-btn" type="button">Вирт</button>
                </li>
            </ul>
            <button class="filters__btn btn" type="button">
                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="filters__path" d="M21 1H1L9 10.46V17L13 19V10.46L21 1Z" stroke="#1C1B1E"
                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Фильтры
            </button>
        </div>
        <div class="filters__content">
            <div class="filters__content-top">
                <h2 class="filters__content-title">Фильтры</h2>
                <p class="filters__content-text">
                    Найдено: 43 девушки, подходящие под ваши критерии
                </p>
            </div>
            <ul class="filters__list">
                <li class="filters__item filters__item--one">
                    <div class="filters__chapter">
                        <span class="filters__name">Секс</span>
                        <div class="filters__chapter-items">
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Секс классический
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Секс анальный
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Секс групповой
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Секс лесбийский
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="filters__chapter">
                        <span class="filters__name">Минет</span>
                        <div class="filters__chapter-items">
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Минет в резинке
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Минет без резинки
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Минет глубокий
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Минет горловой
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Минет в машине
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="filters__chapter">
                        <span class="filters__name">Выезд</span>
                        <div class="filters__chapter-items">
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Отель
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Секс анальный
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Квартира
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Сауна
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="filters__item">
                    <div class="filters__chapter">
                        <span class="filters__name">Особенности</span>
                        <div class="filters__chapter-items">
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Куннилингус
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Целуюсь
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Игрушки
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Окончание на грудь
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Окончание на лицо
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Окончание в рот
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Поза 69
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="filters__chapter">
                        <span class="filters__name">Разное</span>
                        <div class="filters__chapter-items">
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    GFE
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Сопровождение
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Ролевые игры
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Фото / Видео съемка
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Виртуальный секс
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Секс по телефону
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Клизма
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="filters__item">
                    <div class="filters__chapter">
                        <span class="filters__name">Экстрим</span>
                        <div class="filters__chapter-items">
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Страпон
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Анилингус клиенту
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Анилингус
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Золотой дождь клиенту
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Золотой дождь
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Фистинг анальный клиенту
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Фистинг анальный
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Фистинг классический
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Фингеринг
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="filters__chapter">
                        <span class="filters__name">Массаж</span>
                        <div class="filters__chapter-items">
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Массаж классический
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Анилингус клиенту
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Массаж профессиональный
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Массаж расслабляющий
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Массаж урологический
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Массаж эротический
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Массаж семейной паре
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="filters__item">
                    <div class="filters__chapter">
                        <span class="filters__name">Садо-Мазо</span>
                        <div class="filters__chapter-items">
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Госпожа
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Доминирование
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Рабыня
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Подчинение
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Бондаж
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Порка
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Фетиш
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Трамплинг
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Фейсситинг
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Шибари
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="filters__chapter">
                        <span class="filters__name">Стриптиз</span>
                        <div class="filters__chapter-items">
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Стриптиз Профи
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Стриптиз Не профи
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Лесби откровенное
                                </label>
                            </div>
                            <div class="filters__chapter-item">
                                <label class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" name="" value="">
                                    <span class="checkmark"></span>
                                    Лесби-шоу лёгкое
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>