<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__column footer__column-one">
                <a class="logo" href="index.html">
                    <img class="logo__img" src="images/icons/logo.svg" alt="логотип" width="130" height="30">
                </a>
                <p class="footer__about-text">
                    GoldFox - сайт, на котором вы с лёгкостью сможете найти себе приятное развлечение
                </p>
                <p class="footer__author">
                    ©GoldFox 2023, Все права защищены.
                </p>
            </div>
            <div class="footer__column footer__column-two">
                <h3 class="footer__name">Удобно</h3>
                <p class="footer__column-text">Выбрали > Связались > Отдохнули</p>
            </div>
            <div class="footer__column footer__column-three">
                <h3 class="footer__name">Круглосуточно</h3>
                <p class="footer__column-text">Всегда работаем для вас</p>
            </div>
            <div class="footer__column">
                <h3 class="footer__name--small">Наш телеграм канал</h3>
                <a class="footer__column-link" href="">Перейти</a>
            </div>
        </div>
        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="index.html">Главная</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="index.html">О сайте</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="index.html">Реклама</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="index.html">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>